<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="happyFortune" class="HappyFortune"/>
    <bean id="veryHappyFortune" class="VeryHappyFortuneService"/>

    <bean id="cricketCoach" class="CricketCoach">
        <constructor-arg ref="happyFortune"/>
    </bean>
    <bean id="trackCoach" class="TrackCoach">
        <constructor-arg ref="veryHappyFortune"/>
    </bean>
    <bean id="footballCoach" class="FootballCoach">
        <property name="fortuneService" ref="happyFortune"/>
    </bean>

</beans>